<!--The content below is only a placeholder and can be replaced.-->

<a (click)="start()">start</a>
<h1>{{mineCount | async}}</h1>
<div *ngIf="(state | async) === STATE.ONGOING" class="minefield">
  <div  *ngFor="let row of mineField | async" class="row">
    <app-cell *ngFor="let cell of row" (onOpen)="open(cell)" [cell]="cell"></app-cell>
  </div>
</div>
<div *ngIf="(state | async) === STATE.LOST" class="minefield">
  you lost
</div>
<div *ngIf="(state | async) === STATE.WON" class="minefield">
  you won
</div>
