.cell {
  margin: 12px;
  min-width: 100px;
  min-height: 100px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content:center;
  align-content:center;

}

.cell:hover {
  cursor: pointer;
}
